.cabecalho{
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.664);
    border: none;
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: space-between;
    transition: .5s;
}

.info-logo{
    display: flex;
}

.titulo-logo{
    color: #007acc;
    font-family: "Sour Gummy";
    font-weight: 600;
    margin-left: 30px;
    border-left: 1px solid #004e83;
    padding-left: 20px;
    transition: .5s;
}

.info-logo img{
    margin-left: 40px;
    width: 52px;
}

.modo-dark-light{
    display: flex;
    margin-right: 141px;
}

.trilho{
    width: 60px;
    height: 30px;
    background-color: #b7bec7;
    border-radius: 150px;
    position: relative;
    cursor: pointer;
    transition: .5s;
}

.trilho .indicador{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url('../resources/sol.png');
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(.88);
    position: absolute;
    left: 0;
    transition: .5s;
}

.navBar{
    width: 100%;
    height: 60px;
    background-color: #007acc;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown{
    display: flex;
    flex-direction: column;
    margin-left: 141px;
}

.botao-dropdown{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #edf8ff;
    width: 160px;
    height: 25px;
    border-radius: 8px;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-family: "Quicksand";
    font-weight: bold;
    color: #001a2c;
    font-size: 15px;
}

.botao-dropdown:hover{
    background-color: #d6dde6;
}

.content-dropdown{
    display: none;
    flex-direction: column;
    overflow: auto;
    height: 120px;
    width: 160px;
    background-color: transparent;
    font-family: "Quicksand";
    color: #001a2c;
    font-size: 14px;
    font-weight: 500;
    z-index: 1;
    position: absolute;
    margin-top: 25px;
}

.content-dropdown::-webkit-scrollbar-thumb {
    background: #007acc; 
    border-radius: 10px; 
  }

.content-dropdown::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.658); 
    border-radius: 50px; 
  }

.content-dropdown li{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    height: 25px;
    border-radius: 6px;
    width: 150px;
    background-color: #edf8ff;
    text-align: center;
    cursor: pointer;
    margin-top: 1px;
    border: 0.1px solid #004e83;
    text-overflow: ellipsis;
}


.content-dropdown li:hover{
    background-color: #d6dde6;
}

.show{
    display: block;
}

.info-user-logout{
    font-family: "Quicksand";
    color: #edf8ff;
    font-weight: 500;
    margin-right: 141px;
}

#greetingmsg{
    border-right: 0.3px solid #edf8ff;
    padding-right: 10px;
    font-size: 16px;

}

.botao-logOut{
    border: none;
    background-color: transparent;
    color: #edf8ff;
    font-family: "Quicksand";
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    padding-left: 10px;
}

.botao-logOut:hover{
    color: #001a2c;
}

.content-boards{
    display: flex;
    justify-self: center;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 450px;
    border-radius: 20px;
    margin-top: 30px;
    background: rgb(214, 221, 230, 0.2); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    border-radius: 15px; 
    box-shadow: 0 4px 30px rgba(0, 44, 73, 0.1); 
}

.column{
    width: 250px;
    height: 93%;
    background-color: #edf8ff4f;
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 44, 73, 0.1);
}

.nuvem1{
    position: fixed;
    width: 300px;
    right: 3%;
    top: 3%;
    opacity: 70%;
    z-index: -2;
}


.nuvem2{
    position: fixed;
    width: 400px;
    left: -10%;
    bottom: 0%;
    opacity: 70%;
    z-index: -2;
}

.nuvem3{
    position: fixed;
    width: 400px;
    opacity: 50%;
    left: 40%;
    bottom: -20%;
    z-index: -2;
}

.trilho.dark{
    background-color: #001a2c;
}

.trilho.dark .indicador{
    left: 29px;
    background-color: #b7bec7;
    background-image: url('../resources/lua.png');
    background-repeat: no-repeat;
    background-size: cover;
}

body.dark{
    background-color: #001422;
}

.titulo-logo.dark{
    color: #001a2c;
}

.cabecalho.dark{
    background-color: rgba(255, 255, 255, 0.8);;
}

.navBar.dark{
    background-color: #002b49d7;
}